<!doctype html>
<html>
<head>

<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<script src="js/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/mystyle.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="col-lg-12">
				<div class="row main_header">
					<div class="col-lg-3"></div>
                    <div class="col-lg-6">
                    <div class="col-lg-3"></div>	
                        <div class="portlet portlet-default curve_border">
	                            <div class="portlet-heading">
	                                <div class="portlet-title">
	                                    <h4>User Management</h4>
	                                </div>
	                                <div class="clearfix"></div>
	                            </div>
                            <div class="portlet-body grey_bg_body">
                                <div id="myTabContent" class="tab-content">     
                              
      <div class="col-lg-12">
		<div class="row"> 
			<div class="col-lg-12">
				<form id="UserDetails" autocomplete="off">
				<!--action="/v1/gm-users/user_entry/" method="post"-->
				<div id="user">
					<!-- <h3 style="text-align:center;">User Management</h3> -->
				  <div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label >User Name :</label>
					</div>
					<div class="col-lg-6">
						<input class="form-control" type="text" name="username" >
					</div>
				  </div>  	
				   <div>&nbsp;</div>	
				  <div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">			
						<label>Password :</label>
					</div>
					<div class="col-lg-6">
						<input class="form-control" type="password" autocomplete="off" placeholder="Enter password" name="password" id="password";>
					</div>
				  </div>	
				  <div>&nbsp;</div>
				  <div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Confirm Password :</label>
					</div>
					<div class="col-lg-6">
						<input class="form-control" type="password" placeholder="Enter confirm password" name="cpassword" id="cpassword" onkeyup="checkPasswordMatch()";> 
					</div>
				   </div>	
				   <div class="row">
				   		<div class="col-lg-4"></div>
				   		<div class="col-lg-6" id="passwordmatch"></div>
				   </div>	
				   <div>&nbsp;</div>					
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>First Name :</label>
						</div>
					<div class="col-lg-6">
						<input class="form-control" type="text" name="firstname" maxlength="5">
					</div>	
				   </div>
					<div>&nbsp;</div>						
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Last Name :</label>
						</div>
						<div class="col-lg-6">
						<input size="10" class="form-control" type="text" name="lastname">
						</div>
					</div>	
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Email :</label>
						</div>
					<div class="col-lg-6">
						<input class="form-control" type="email" name="email">
					</div>
				</div>
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Mobile :</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="phonenumber">
						</div>
					</div>	
					<!-- <div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Form Number:</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="formnumber">
						</div>
					</div>	 -->
					
                    <div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Address :</label>
				    	</div>
				    	<div class="col-lg-6">
					    <input class="form-control" type="text" name="address">
				    	</div>
				    </div>					  
				    <div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>State :</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="state" >
						</div>	
					</div>	
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Country :</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="country" >
						</div>
					</div>		
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Pincode :</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="pincode" maxlength="6">
						</div>	
					</div>	
					<!-- <div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Department:</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="text" name="department" >
						</div>
					</div>		 -->
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>DOB :</label>
						</div>
						<div class="col-lg-6">
						<input class="form-control" type="date" name="dob" >
						</div>
					</div>			
                    <div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Gender :</label>
				    	</div>
				    	<div class="col-lg-6">
						<select name='gender' class="form-control">
							<OPTION SELECTED VALUE="">Select...</OPTION>
							<option value="M">M</option>
							  <option value="F">F</option>
							  <option value="OT">OT</option>
						</select>
						</div>
					</div>	
				<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Image</label>
						</div>
						<div class="col-lg-6">
						<input type="file" id="user_agreement"  class="form-control" accept="image/*" name="src" class="required"/>
						</div>
					</div>	
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
				
					<div>&nbsp;</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-md-4 fieldname_right">
						<label>Territory :</label>
						</div>
					    <div class="col-lg-6">
							<select class="form-control">
							<OPTION SELECTED  value=""required>Select...</OPTION>
							  <option value="South">South</option>
							  <option value="North">North</option>
							  <option value="East">East</option>
							  <option value="West">West</option>
							</select>
						</div>	
					</div>
					<div>&nbsp;</div>	
						<div class="row"><div class="col-lg-8 col-sm-8 col-md-8"></div>		
						<div class="col-lg-1 col-sm-1 col-md-1"><button type="submit" class="btn btn-primary" style="margin-top:20px;" disabled id="submit">Submit</button></div>
					</div>                             
                    </div>
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
					
<!-- ----------------------------------------------------------------------------------------------------------------------- -->


					<div class="row"><div class="col-lg-8 col-sm-8 col-md-8"></div>
						<div class="col-lg-1 col-sm-1 col-md-1"></div>
					</div>
              </div>
              </form>
			</div>
		</div>
	</div>
			
<script type= text/javascript>

// ---------------------------------------begin-----------------js for password matching--------------------------
		function checkPasswordMatch() {
		    var password1 = $("#password").val();
		    var cpassword1 = $("#cpassword").val();

		    if (password1 != cpassword1)
		    {
		        $("#passwordmatch").html("Passwords do not match!");
		    	$("#passwordmatch").css('color', 'red');
		    	document.getElementById("submit").disabled = true;
		    }
		    else
		    {
		        $("#passwordmatch").html("Passwords match.");
		        $("#passwordmatch").css('color', 'blue');
		    	document.getElementById("submit").disabled = false;
		    }
		}



$(document).on('submit','#UserDetails',function (e) {
	//e.preventDefault();
	
	
	var data1="{";
	var other_data = $('#UserDetails').serializeArray();
    $.each(other_data,function(key,input){
        data1+="\""+input.name+"\":\""+input.value+"\"";
        data1+=",";
    });
    var file=$("#user_agreement").val();
    var file2=$("#user_agreement1").val();
    data1+="\"user_agreement\":\""+file+"\"";
    data1+=",";
    data1+="\"user_agreement1\":\""+file2+"\"";
    data1+="}";
    data1 = JSON.stringify(data1);
    var data2 = JSON.parse(data1);
    console.info(data2);
    return false;
    
	
	

	$.ajax({
		url: '/v1/gm-users/user_entry/',
		type: 'POST',
  		contentType: "application/json",
  		data:data2,
  		
  		success: function () {
  		
  		}
  		
  		
	
	})	
})
</script>
</body>
</html>



