setuptools
Django
celery
MySQL-python
gunicorn
django-suit
django-tastypie
requests
redis
flower
south
django-celery
parse
django-twilio
django-import-export
suds
spyne
lxml
django-cors-headers
django-storages
boto
django-tastypie-swagger
