Hello,<br/><br/>
{% if feed_logs %}
The summary of the feeds received /sent on {{yesterday}} are as below:<br/>
<table border=1px style="width: 60%">
	<tbody>
		<tr>
			<th>Timestamp</th>
			<th>Feed Type</th>
			<th>Total Feed</th>
			<th>Failed Count</th>
			<th>Success Count</th>
			<th>Action</th>
		</tr>
		{% for data in feed_logs %}
		<tr>
			<td>{{data.timestamp}}</td>
			<td>{{data.feed_type}}</td>
			<td>{{data.total_feed_count}}</td>
			<td>{{data.total_failed_count}}</td>
			<td>{{data.total_success_count}}</td>
			<td>{{data.action}}</td>
		</tr>
	   {% endfor %}
	</tbody>
</table>
{% else %}
No feeds received on {{yesterday}}.
{% endif %}
<br/><br/>
Thanks<br/>
GCP Bajaj Data Feeds Team
