<table align="center" style="border:2px solid #807c7b;font-family:Calibri;font-size:18px;width:600px;border-radius:5px">
                <tbody><tr>
                    <td>
                        <table width="600" align="center" style="width:600px">
                            <tbody><tr>
                                <td width="10">&nbsp;</td>
                                <td valign="top"><img width="150" alt="GladMinds Logo" style="text-align:right" src="http://rkarthik.in/mobile/gm/incfiles/images/logo.png"></td>
                                <td width="10">&nbsp;</td>
                                <td width="430"> 
                                    <table align="left" style="font-size:18px;font-family:Calibri;color:#595959">
                                        <tbody><tr>
                                            <td color="#595959" style="font-weight:bold">Hello {{user_name}}</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#595959;font-family:Calibri;font-weight:normal;font-size:18px;line-height:27px">Thank you for registering with GladMinds!</td>
                                        </tr>                           
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="600" align="left" style="font-size:20px;font-family:Calibri;color:#ffffff;background-color:#97C853;width:600px">
                            <tbody><tr>                     
                                <td>
                                    <table width="580" align="center" style="text-align:center;width:580px;color:#fff;font-size:20px;font-family:Calibri">
                                        <tbody><tr>
                                            <td align="center" style="text-align:center">
                                                Your Registration on 
                                                <a target="_blank" href="http://www.gladminds.com" style="text-decoration:underline;text-align:left;color:#fff;font-size:20px;font-family:Calibri">
                                                    http://www.gladminds.com
                                                </a> was successful.                
                                            </td>
                                        </tr>
                                    </tbody></table>                            
                                </td>                       
                            </tr>
                            <tr>
                                <td>    
                                    <table width="350" align="center" style="text-align:center;width:350px;color:#fff;font-size:20px;font-family:Calibri">
                                        <tbody><tr>
                                            <td align="center" style="text-align:center">
                                                Your registration details are as below
                                            </td>
                                        </tr>
                                    </tbody></table>                            
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" style="color:#595959;font-family:Calibri;font-size:19px;text-align:left">
                            <tbody><tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Unique ID:</td>                      
                                <td width="" style="font-family:Calibri;font-size:19px">{{unique_id}}</td>
                            </tr>
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Name:</td>                       
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_name}}</td>
                            </tr>
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Email (Your Username):</td>
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_email}}</td>
                            </tr>                   
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Mobile:</td>
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_mobile}}</td>
                            </tr>
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Address:</td>
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_address}}</td>
                            </tr>
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">Country:</td>
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_country}}</td>
                            </tr>
                            <tr height="40" style="min-height:40px">
                                <td width="270" style="font-family:Calibri;font-size:19px">State:</td>
                                <td width="" style="font-family:Calibri;font-size:19px">{{user_state}}</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <table width="600" height="50" align="center" style="background-color:#97C853;color:#ffffff;font-family:Calibri;font-size:20px;text-align:center;width:600px;min-height:50px">
                            <tbody><tr>
                                <td>&copy;{% now "Y" %}. GladMinds!</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>