{% extends "base_template.html" %}
{% block body %}
<div class="well container">
	<h1>{{ app_version.app_name }}</h1>
	<h2>Version Info</h2>
	<div class="bs-example">
		<table class="table table-striped">

			<thead>
				<tr>
					<th>#</th>
					<th>Reversion Type</th>
					<th>Version Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>Build Date</th>
					<th>{{buildDate}}</th>
				</tr>
				<tr>
					<th>2</th>
					<th>Git Revision</th>
					<th>{{gitRevision}}</th>
				</tr>
				<tr>
					<th>3</th>
					<th>Build Number</th>
					<th>{{buildNumber}}</th>
				</tr>
				<tr>
					<th>4</th>
					<th>NODE NAME</th>
					<th>{{NODE_NAME}}</th>
				</tr>
				<tr>
					<th>5</th>
					<th>BUILD TAG</th>
					<th>{{BUILD_TAG}}</th>
				</tr>
				<tr>
					<th>6</th>
					<th>JOB NAME</th>
					<th>{{JOB_NAME}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %} 