{% load forum_extras %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ forum_settings.FORUM_BASE_TITLE }} {% block title %}{% endblock %}</title>
	<meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} " />
	<meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	{% set_theme_style user %}
	<link rel="alternate" type="application/atom+xml" href="{% url 'djangobb:forum_posts_feed' %}" title="{% trans "Latest posts on forum" %}" />
	<link rel="alternate" type="application/atom+xml" href="{% url 'djangobb:forum_topics_feed' %}" title="{% trans "Latest topics on forum" %}" />
	
	<link rel="shortcut icon" href="{{ STATIC_URL }}djangobb_forum/favicon.png" type="image/png" />
	<script type="text/javascript">
		var STATIC_URL = "{{ STATIC_URL }}";
		var POST_PREVIEW_URL = "{% url 'djangobb:post_preview' %}";
	</script>
	{% if DEBUG %}
	   <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js" onerror="JavaScript:alert('Error loading file [' + this.src + '] !');" ></script>
	{% else %}
    	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js" onerror="JavaScript:alert('Error loading file [' + this.src + '] !');" ></script>
	{% endif %}
	{% if user.is_authenticated %}
    	{% if post %}
            {% with markup=post.markup %}
                {% include "djangobb_forum/includes/markup_editor.html" %}
            {% endwith %}
        {% else %}
            {% with markup=user.forum_profile.markup %}
                {% include "djangobb_forum/includes/markup_editor.html" %}
            {% endwith %}
        {% endif %}
    	<script type="text/javascript">
    	   $(document).ready(function() {
    		$(".markup").markItUp(mySettings);
    	   });
    	</script>
	{% endif %}

    <!-- Highlightjs goodies -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}djangobb_forum/css/pygments.css" />
	{% if highlight_word %}
		<script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.highlight-3.pack.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("div.postmsg").highlight("{{ highlight_word }}");
			});
		</script>
	{% endif %}
	{% block extra_meta %}{% endblock %}
	<link rel='stylesheet' href="{{ STATIC_URL }}djangobb_forum/calendar/fullcalendar.min.css" />
	<script src='{{ STATIC_URL }}djangobb_forum/calendar/moment.min.js'></script>
	<script src='{{ STATIC_URL }}djangobb_forum/calendar/fullcalendar.min.js'></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobb_forum/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobb_forum/css/justified-nav.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobb_forum/themes/taguetic/style.css" />
	
	<script>

	$(document).ready(function() {

		$('#calendar-common').fullCalendar({
			defaultDate: '2014-09-23',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2014-09-01'
				},
				{
					title: 'Long Event',
					start: '2014-09-07',
					end: '2014-09-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-09-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-09-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2014-09-11',
					end: '2014-09-13'
				},
				{
					title: 'Meeting',
					start: '2014-09-12T10:30:00',
					end: '2014-09-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2014-09-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2014-09-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2014-09-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2014-09-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2014-09-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2014-09-28'
				}
			]
		});
		
		$('#calendar-users').fullCalendar({
			defaultDate: '2014-09-23',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2014-09-01'
				},
				{
					title: 'Long Event',
					start: '2014-09-07',
					end: '2014-09-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-09-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-09-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2014-09-11',
					end: '2014-09-13'
				},
				{
					title: 'Meeting',
					start: '2014-09-12T10:30:00',
					end: '2014-09-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2014-09-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2014-09-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2014-09-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2014-09-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2014-09-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2014-09-28'
				}
			]
		});
	});

</script>
	
</head>
<body>
  <div class="container">
    {% include 'djangobb_forum/header.html' %}
   <div class="col-md-9">
		<div class="masthead">
	        <ul class="nav nav-justified">
	          	{% block menu %}
					<li id="navindex"><a href="{% url 'djangobb:index' %}">{% trans "Index" %}</a></li>
					<li id="announcements"><a href="{% url 'djangobb:announcements' %}">{% trans "Announcements" %}</a></li>
					<li id="navuserlist"><a href="{% url 'djangobb:forum_users' %}">{% trans "User list" %}</a></li>
					<li id="navsearch"><a href="{% url 'djangobb:search' %}">{% trans "Search" %}</a></li>
					
					{% if user.is_superuser %}
						<li id="navadmin"><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						{% if forum_settings.PM_SUPPORT %}
							<li id="navpm"><a href="{% url 'messages_inbox' %}">{% trans "PM" %}</a></li>
						{% endif %}
					{% endif %}
					{% endblock %}
	        </ul>
	      </div>
		<div id="brdwelcome" class="inbox">
			<ul class="conl">
				{% if user.is_authenticated %}
					<li>{% trans "Logged in as" %} <strong>{{ user.username }}</strong></li>
					<li>{% trans "Last visit:" %} {% forum_time user.last_login %}</li>
					{% if forum_settings.PM_SUPPORT and messages_inbox_count > 0 %}
						<ul><li class="pmlink"><strong><a href="{% url 'messages_inbox' %}">{% trans "There are new messages" %} ({{ messages_inbox_count }})</a></strong></li></ul>
					{% endif %}
				{% else %}
					<li>{% trans "You are not logged in." %}</li>
				{% endif %}
				{% if user.is_superuser and reports %}
					<li class="reportlink"><strong><a href="{% url 'admin:index' %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></li>
				{% endif %}
			</ul>
			{% if user.is_authenticated %}
				<ul class="conr">
					<li><a href="{% url 'djangobb:search' %}?action=show_new">{% trans "Show new posts since last visit" %}</a></li>
					<li><a href="{% url 'djangobb:misc' %}?action=markread">{% trans "Mark all topics as read" %}</a></li>
				</ul>
			{% endif %}
			<div class="clearer"></div>

    {% block messages %}
        {% if messages %}
        <div id="messages" class="block">
            <h2><span>{% trans "Notice" %}</span></h2>
            <div class="box">
                <div class="inbox">
                    <ul class="messagelist">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock messages %}

	{% block content %}{% endblock %}
	</div>
	</div>
	<div class="col-md-3 box">
		<div id="calendar-common" class="calendar box">Event Calendar</div>
		<div id="gm-ads" class="calendar box">Kit Collections</div>
		{% if user.is_authenticated %}
		<div id="calendar-users" class="calendar box">My Calendar</div>
		{% endif %}
	</div>
	<div id="brdfooter" class="box row">
	<h2><span>{% trans "Board footer" %}</span></h2>
        <div class="box">
            <div class="inbox">
                {% block controls %}
                    <dl id="searchlinks" class="conl">
                        <dt><strong>{% trans "Search links" %}</strong></dt>
                        <dd><a href="{% url 'djangobb:search' %}?action=show_24h">{% trans "Show recent posts" %}</a></dd>
                        <dd><a href="{% url 'djangobb:search' %}?action=show_unanswered">{% trans "Show unanswered posts" %}</a></dd>
                        {% if user.is_authenticated %}
                        <dd><a href="{% url 'djangobb:search' %}?action=show_subscriptions">{% trans "Show your subscribed topics" %}</a></dd>
                        <dd>{% trans "Show your" %} <a href="{% url 'djangobb:search' %}?action=show_user&show_as=topics">{% trans "topics" %}</a>/<a href="{% url 'djangobb:search' %}?action=show_user&show_as=posts">{% trans "posts" %}</a></dd>
                        {% endif %}
                    </dl>
                {% endblock controls %}
                <p class="conr">Powered by <a href="http://gladminds.com/">Gladminds</a></p>
                <div class="clearer"></div>
                {% block lofi %}
                {% endblock lofi%}
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
