packages: 
  yum:
    gcc: []
    python-devel: []
    libxml2-devel: []
    libxslt-devel: []

option_settings:
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: src/gladminds/wsgi.py
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumProcesses
   value: 4
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumThreads
   value: 15
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "src/static/" 
