packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  configure_new_relic:
    command: nrsysmond-config --set license_key=a98f30d85b22cb141021f93a0149fc6f65468c3f
  start_new_relic:
    command: /etc/init.d/newrelic-sysmond start
