{% extends "superadmin/base.html" %}
{% block body  %}

<div id="page-wrapper">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-money"></i>Customer Details</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped tablesorter">
						<thead>
							<tr>
								<th class="header headerSortDown">Customer Id # <i class="fa fa-sort"></i></th>
								<th class="header">Phone  Number <i class="fa fa-sort"></i></th>
								<th class="header">Status <i class="fa fa-sort"></i></th>
								<th class="header">Edit</th>
							</tr>
						</thead>
						<tbody>

					{% for data in customers_data %}
						<tr>
							<td><input type="text" value={{data.customer_id}}></td>
							<td><input type="text" value={{data.phone_number}}></td>
							<td><input type="text" value={{data.is_authenticated}}></td>
							<td><button type="submit" class="btn btn-primary">SAVE</button></td>
						</tr>
					{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
