{% extends "admin/change_form.html" %}
aras

{% block field_sets %}
{% ifequal opts.verbose_name 'retailer' %}
    <form action="{% url 'bulk_upload_retailer' %}" method="POST" enctype="multipart/form-data">
        <table>
        <tr> <td> Bulk upload of retailer:
				<input type="file" name="bulk_upload_retailer"> </td> </tr>
        <tr> <td></td> <td> <input type="submit" value="upload"> </td></tr>
        </table>
    </form>
{% endifequal %}
    {% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}