<div class="modal fade download-modal" id="downloadMemberModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Member Detail Download</h4>
      </div>
      <div class="modal-body ">
        <form>
        <div class="row-fluid">
        <div class="span4 form-group">
          <label class="control-label" style="line-height: 25px; font-weight: bold;">Select download option:</label>
        </div>
        <div class="span5 form-group">
          <select class="form-control" name="download-option" id="download-option">
            <option name="new-register" value="new">&nbsp;New complete forms detail
            <option name="all-complete-register" value="complete">&nbsp;All complete forms detail
            <option name="all-register" value="all">&nbsp;All forms detail
          </select>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success download-member-detail">Download</button>
    </div>
    </div>
  </div>
</div>

<div class="modal fade download-modal" id="downloadWelcomeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Welcome Kit Download</h4>
      </div>
      <div class="modal-body ">
        <form>
        <div class="row-fluid">
        <div class="span4 form-group">
          <label class="control-label" style="line-height: 25px; font-weight: bold;">Select download option:</label>
        </div>
        <div class="span5 form-group">
          <select class="form-control" name="download-option" id="kit-download-option">
            <option name="new-welcome" value="Open">&nbsp;Open welcome kit request
            <option name="all-welcome" value="all">&nbsp;All welcome kit request
          </select>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success download-welcome-detail">Download</button>
    </div>
    </div>
  </div>
</div>
<div class="modal fade download-modal" id="downloadRedemptionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Redemption Request Download</h4>
      </div>
      <div class="modal-body ">
        <form>
        <div class="row-fluid">
        <div class="span4 form-group">
          <label class="control-label" style="line-height: 25px; font-weight: bold;">Select download option:</label>
        </div>
        <div class="span5 form-group">
          <select class="form-control" name="download-option" id="redemption-download-option">
            <option name="new-register" value="Approved">&nbsp;Approved request
            <option name="new-register" value="all">&nbsp;All request
          </select>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success download-redmeption-detail">Download</button>
    </div>
    </div>
  </div>
</div>
<div class="modal fade download-modal" id="downloadAccumulationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Accumulation Request Download</h4>
      </div>
      <div class="modal-body ">
        <form>
        <div class="row-fluid">
        <div class="span4 form-group">
          <label class="control-label" style="line-height: 25px; font-weight: bold;">Select download option:</label>
        </div>
        <div class="span5 form-group">
          <select class="form-control" name="download-option" id="accumulation-download-option">
            <option name="all-accumulation" value="all">&nbsp;All request
          </select>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success download-accumulation-detail">Download</button>
    </div>
    </div>
  </div>
</div>

<script src="/static/js/downloadLoyaltyDetails.js"></script>