{% extends "base_template.html" %}

{% block style %}
<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="navbar navbar-fixed-top">
     <div class ="row">
          <div class= "col-md-10">
	           <div class="navbar-inner">
		           <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg"
			          height=50px width=209px>
			        </a>
	           </div>
	      </div>
          <div class= "col-md-2">
                <a class="logout" href="/aftersell/servicedesk/">Back
                </a>&nbsp;&nbsp;&nbsp;
                 <a class="logout" href="/aftersell/provider/logout">Logout
                 </a>
          </div>	
	</div>
</div>

<div class='well'>
     <h3 class='text-center'>Update Information</h3>
     <div class = 'container '>
	       <div class="row">
	            <div class="col-md-4"></div>
	            <div class="col-md-4">
		             <form class="form-horizontal servicedesk" role="form" method="post">
		                   {% for feedback in feedbacks %}
                                 <div class="form-group">
                                      <label class="col-sm-3 control-label" for="reporter">Reporter</label>
                                      <div class="col-sm-9">
                                           <input type="text" class="form-control"  value={{feedback.reporter}} readonly >
                                      </div>
                                 </div>
                                 <div class="form-group">
                                      <label class="col-sm-3 control-label" for="reporter">Ticket Id</label>
                                      <div class="col-sm-9">
                                           <input type="text" class="form-control" name = "ticketId"  value="{{feedback.id}}" readonly >
                                      </div>
                                 </div>
                                 <div class="form-group">
                                      <label class="col-sm-3 control-label" for="type">Type</label>
                                      <div class="col-sm-9">
                                             <select class="form-control" name="type"  {% if group == 'SDO' %} readonly {% endif %}>
                                                     {% for type in FEEDBACK_TYPE %}
                     	                                 <option {% if type == feedback.type %} selected {% endif %} value="{{type}}">{{type}}</option>
                                                     {% endfor %}
                                             </select>
                                      </div>
                                </div>
                                <div class="form-group">
                                     <label class="col-sm-3 control-label" for="Priority">Priority</label>
                                             <div class="col-sm-9">
                                                   <select class="form-control" name="Priority"  {% if group == 'SDO' %} readonly {% endif %}>
                                                          {% for type in PRIORITY %}
                      	                                         <option {% if type == feedback.priority %} selected {% endif %} value="{{type}}">{{type}}</option>
                                                          {% endfor %}
                                                    </select>
                                              </div>
                                </div>
                               <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Assign To">Assignee</label>
                                    <div class="col-sm-9">
                                         <select class="form-control" name="Assign_To"  {% if group == 'SDO' %} readonly {% endif %} required>
                                               <option value="None">------</option>
                                               {% for type in servicedeskuser %}
                      	                            <option {% if type == feedback.assign_to %} selected {% endif %} value="{{type}}">{{type}}</option>
                                               {% endfor %}
                                         </select>
                                    </div>
                               </div>
                               <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Status">Status</label>
                                    <div class="col-sm-9">
                                           <select class="form-control" name="status" >
                                                   {% for type in FEEDBACK_STATUS %}
                                                       	<option {% if group == 'SDO' and type == 'Closed' %} disabled {% endif %} value="{{type}}">{{type}}</option>
                                                   {% endfor %}
                                            </select>
                                    </div>
                               </div>
                               <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Subject">Subject</label>
                                    <div class="col-sm-9">
                                           <input type="textarea" class="form-control"  value={{feedback.subject}} readonly>
                                   </div>
                               </div>
                               <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Message">Message</label>
                                    <div class="col-sm-9">
                                         <textarea  class="form-control"  value={{feedback.message}} readonly>{{feedback.message}}</textarea>
                                    </div>
                               </div>
                           {% endfor %}
                              <div class="form-group">
                                   <div class="col-sm-offset-3 col-sm-9">
                                          <button type="submit" class="btn btn-primary">Save</button>
                                          <a class="logout" href="/aftersell/servicedesk/"> 
                                              <button type="button" class="btn btn-default">Cancle</button>
                                           </a>
                                  </div>
                              </div> 
                     </form>
                </div>
                <div class="col-md-4"></div>
	         </div>
        </div>
</div>	
	
{% include "portal/modal.html" %}
{% include "portal/waiting_modal.html" %}
{% endblock %}

{% block dependency%}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}
