{% extends "base_template.html" %}

{% block style %}
<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="well">
	<h3 class="text-center">GladDesk Ticket Information</h3>
	<div class="container">
		{% if not feedbacks %}
		<h4 class='text-center'>
		   {% if group == 'SDM' %}
			Hi {{request.user.username}} You dont have any feedback yet.
			{% endif %}
			Hi {{request.user.username}} you have not been assign any ticket
			yet.
		</h4>
		{% elif feedbacks.length != 0 %}
		<table id="gladmindDesk" class="table table-striped table-bordered" >
        <thead>
				<tr>
				    <th>Ticket</th>
					<th>Customer</th>
					<th>Assignee</th>
					<th>Description</th>
					<th>Priority</th>
					<th>Type</th>
					<th>Status</th>
					<th>Created</th>
					<th>Modified</th>
					<th>Due</th>
				</tr>
			</thead>
        <tbody>
				{% for feedback in feedbacks %}
				<tr> 
				    <td>
				       <a href="/aftersell/feedbackdetails/{{feedback.id}}/">
							GM-{{feedback.id|default_if_none:""}}
						</a>  
					</td>
					<td>{{feedback.reporter.name|default_if_none:""}}</td>
					{% if feedback.assign_to_reporter %}
						<td>Assigned to reporter</td>
					{% else %}
						<td>{{feedback.assignee.user_profile.user.username|default_if_none:""}}</td>
					{%endif%}
					<td>
					   <div>
					       {% if feedback.description|length > 20 %}
					         <span id="{{feedback.id}}" class="btn gladdesk-message ellips" 
					            data-content="{{feedback.description|default_if_none:""}}" rel="popover" 
					            data-placement="bottom" data-trigger="hover"  onmouseover="showMessage({{feedback.id}})">
					              {{feedback.description}}
					       {% else  %}
                                  {{feedback.description}}
                           {% endif %}
                            </span>
                       </div>
                   </td>
					<td>{{feedback.priority|default_if_none:""}}</td>
					<td>{{feedback.type|default_if_none:""}}</td>
					<td>{{feedback.status|default_if_none:""}}</td>
					<td>{{feedback.created_date|default_if_none:""}}</td>
					<td>{{feedback.modified_date|default_if_none:""}}</td>
					<td>{{feedback.due_date|default_if_none:""}}</td>
			</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>

{% endblock %} 
{% block dependency%}
<script src="/static/js/portal/main.js"></script>
<script src="/static/js/table_data.js"></script>
<script src="/static/js/table_data_bootstrap.js"></script>

<script>
$(document).ready(function() {
    $('#gladmindDesk').dataTable();
} );

</script>
{% endblock dependency %}