{% extends "base_template.html" %}

{% block style %}
<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="navbar navbar-fixed-top">
     <div class ="row">
          <div class= "col-md-10">
	           <div class="navbar-inner">
		           <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg"
			          height=50px width=209px>
			        </a>
	           </div>
	      </div>
          <div class= "col-md-2">
              <li class="dropdown style-username">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{request.user.username}} <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li><a href="/aftersell/provider/logout">Logout</a></li>
                 </ul>
             </li>
        </div>	
	</div>
</div>

<div class='well'>
     <h3 class='text-center'>Update Information</h3>
     <div class = 'container '>
	 	<div class="row">
	 		<form class="form-horizontal servicedesk" role="form" method="post">
	 		<div class="col-md-2"></div>
	 			<div class="col-md-8">
	 				<div class="row">
						<div class="col-sm-6"> 					
	 						<div class="form-group">
                    			<label class="col-sm-4 control-label" for="reporter">Ticket Id</label>
                        		<div class="col-sm-8">
                        			<input type="text" class="form-control" name = "ticketId"  value='{{feedback.id|default_if_none:""}}' readonly >
                        		</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group">
                    			<label class="col-sm-4 control-label" for="type">Type</label>
                        		<div class="col-sm-8">
                            		<select class="form-control" name="type"  {% if group == 'SDO' %} readonly {% endif %}>
                                		{% for type in FEEDBACK_TYPE %}
                     	            		<option {% if type == feedback.type %} selected {% endif %} value="{{type}}">{{type}}</option>
                                    	{% endfor %}
                                 	</select>
                            	</div>
                   			</div>
						</div>
						
	 				</div>
	 				
	 				<div class="row">
	 					<div class="col-sm-6">
							<div class="form-group">
                     			<label class="col-sm-4 control-label" for="reporter">Reporter</label>
                        		<div class="col-sm-8">
                        			<input type="text" class="form-control"  value='{{feedback.reporter_name|default_if_none:""}} ({{feedback.reporter|default_if_none:""}})' readonly >
                        		</div>
                    		</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
                    			<label class="col-sm-4 control-label" for="Assign To">Assignee</label>
                        		<div class="col-sm-8">
                        			<select class="form-control assignee" name="Assign_To"   {% if group == 'SDO' %} readonly {% endif %} onchange="dueDateRequire(this.options[this.selectedIndex].value)" >
                            			<option value=""></option>
                               			{% for type in servicedeskuser %}
                      	          			<option {% if type == feedback.assign_to %} selected {% endif %} value="{{type}}">{{type.user.username}}({{type}})</option>
                                		{% endfor %}
                            		</select>
                      			</div>
                    		</div>
						</div>
	 				</div>
	 					
	 				<div class="row">
	 					<div class="col-sm-6">
	 						<div class="form-group">
                    			<label class="col-sm-4 control-label" for="Priority">Priority</label>
                        		<div class="col-sm-8">
                            		<select class="form-control" name="Priority"  {% if group == 'SDO' %} readonly {% endif %}>
                                		{% for type in PRIORITY %}
                      	            		<option {% if type == feedback.priority %} selected {% endif %} value="{{type}}">{{type}}</option>
                                    	{% endfor %}
                                 	</select>
                           		</div>
               				</div>
	 					</div>
						
						<div class="col-sm-6">
	 						<div class="form-group">
  								<label class="col-sm-4 control-label" for="due_date">Due Date</label>
    							<div class="col-sm-8">
    								<input type="datetime" class="form-control due-date" name="due_date"  value='{{feedback.due_date|date:'d/m/Y'|default_if_none:""}}' >
   								</div>
							</div>
	 					</div>
	 				</div>	
	 				
	 				<div class="row">
	 					<div class="col-sm-6">
	 						<div class="form-group">
    							<label class="col-sm-4 control-label" for="resolved_date">Resolved Date</label>
    							<div class="col-sm-8">
    								<input type="datetime" class="form-control" name="resolved_date" readonly value='{{feedback.resolved_date|default_if_none:""}}'>
   								</div>
  							</div>
	            		</div>
							
						<div class="col-sm-6">
							<div class="form-group">
                    			<label class="col-sm-4 control-label" for="Status">Status</label>
                       			<div class="col-sm-8">
	                    			<select class="form-control" name="status" id ="status" onchange="rootCause(this.options[this.selectedIndex].value)">
                            			{% for type in FEEDBACK_STATUS %}
                                			<option {% if type == feedback.status %} selected {% endif %} value="{{type}}">{{type}}</option>
                                		{% endfor %}
                             		</select>
								</div>
							</div>
						</div>	
					</div>	
	 					
	 				<div class="row">
	 					<div class="col-sm-12">
							<div class="form-group">
	                    		<label class="col-sm-2 control-label" for="Subject">Subject</label>
    	               	 		<div class="col-sm-10">
        	            			<input type="textarea" class="form-control"  value='{{feedback.subject|default_if_none:""}}' readonly>
            	        		</div>
                	     	</div>	 				
	 					</div>
	 				</div>		
	 				
	 				<div class="row">
	 					<div class="col-sm-12">
	 						<div class="form-group">
                    		<label class="col-sm-2 control-label" for="Message">Message</label>
                        	<div class="col-sm-10">
                        		<textarea  class="form-control"  value='{{feedback.message|default_if_none:""}}' readonly>{{feedback.message}}</textarea>
                       		</div>
                 		</div>
	 					</div>
	 				</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group hide rootcause">
                    			<label class="col-sm-2 control-label" for="rootcause" >Root cause</label>
                        		<div class="col-sm-10">
               			    		<textarea class="form-control root-cause" name="rootcause" value = '{{feedback.root_cause|default_if_none:""}}' /></textarea>
                        		</div>
                    		</div>
						</div>
					</div>
	 				
	 				<div class="row">
	 					<div class="col-sm-12">
							<div class="form-group hide resolution">
       		            		<label class="col-sm-2 control-label" for="resolution" >Resolution</label>
        	                	<div class="col-sm-10">
            	           	 		<textarea class="form-control ticket-resolution" name="resolution" value = '{{feedback.resolution|default_if_none:""}}' /></textarea>
                	   			</div>
                    		</div>	 					
	 					</div>
	 				</div>
	 				
	 				<div class="row">
	 					<div class="col-sm-12">
							<div class="form-group " id="comments">
    		           			<label class="col-sm-2 control-label" for="comments" >Comments</label>
            	       			<div class="col-sm-10">
                	  	   			<textarea class="form-control" name="comments" value = '{{feedback_comment.comments|default_if_none:""}}' /></textarea>
                    			</div>
                   			</div>	 					
	 					</div>
	 				</div>
	 				
	 				<div class="row">
	 					<div class="form-group">
                   			<div class="col-sm-offset-4 col-sm-9">
                   				<button type="submit" class="btn btn-primary">Save</button>
                   				<a class="logout" href="/aftersell/servicedesk/"> 
                 		    		<button type="button" class="btn btn-default">Cancel</button>
		                		</a>
                   			</div>
                  		</div>
	 				</div>
	 			</div>
	 		<div class="col-md-2"></div>
	 		</form>
	 	</div>     
	</div>	
</div>	
{% include "portal/modal.html" %}
{% include "portal/waiting_modal.html" %}
{% endblock %}

{% block dependency%}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}
