{% extends "base_template.html" %} 

{% block body %}

<div class="navbar navbar-fixed-top">
	<div class ="row">
		<div class= "col-md-10">
			<div class="navbar-inner">
				<a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg"
				height=50px width=209px></a>
			</div>
		</div>
		<div class= "col-md-2">
		  <li class="dropdown style-username">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{request.user.username}} <b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/aftersell/provider/logout">Logout</a></li>
             </ul>
          </li>
		</div>	
	</div>
</div>

<div class="well">
	<h3 class="text-center">GladDesk Ticket Information</h3>
	<div class="container">
		{% if not feedbacks %}
		<h4 class='text-center'>
		   {% if group == 'SDM' %}
			Hi {{request.user.username}} You dont have any feedback yet.
			{% endif %}
			Hi {{request.user.username}} you have not been assign any ticket
			yet.
		</h4>
		{% elif feedbacks.length != 0 %}
		<table id="gladmindDesk" class="table table-striped table-bordered" >
        <thead>
				<tr>
				    <th>Ticket</th>
					<th>Reporter</th>
					<th>Assignee</th>
					<th>Message</th>
					<th>Priority</th>
					<th>Type</th>
					<th>Status</th>
					<th>Created</th>
					<th>Resolved</th>
					<th>Due</th>
				</tr>
			</thead>
        <tbody>
				{% for feedback in feedbacks %}
				<tr> 
				    <td>
				       <a href="/aftersell/feedbackdetails/{{feedback.id}}/">
							GM-{{feedback.id|default_if_none:""}}
						</a>  
					</td>
					<td>{{feedback.reporter_name|default_if_none:""}}</td>
					{% if feedback.assign_to_reporter == True %}
						<td>Assigned to Reporter</td>
					{% else %}
						<td>{{feedback.assign_to.user.username|default_if_none:""}}</td>
					{%endif%}
					<td>
					   <div>
					       {% if feedback.message|length > 20 %}
					         <span id="{{feedback.id}}" class="btn gladdesk-message ellips" 
					            data-content="{{feedback.message|default_if_none:""}}" rel="popover" 
					            data-placement="bottom" data-trigger="hover"  onmouseover="showMessage({{feedback.id}})">
					              {{feedback.message}}
					       {% else  %}
                                  {{feedback.message}}
                           {% endif %}
                            </span>
                       </div>
                   </td>
					<td>{{feedback.priority|default_if_none:""}}</td>
					<td>{{feedback.type|default_if_none:""}}</td>
					<td>{{feedback.status|default_if_none:""}}</td>
					<td>{{feedback.created_date|default_if_none:""}}</td>
					<td>{{feedback.resolved_date|default_if_none:""}}</td>
					<td>{{feedback.due_date|default_if_none:""}}</td>
			</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>

{% endblock %} 
{% block dependency%}
<script src="/static/js/portal/main.js"></script>
<script src="/static/js/table_data.js"></script>
<script src="/static/js/table_data_bootstrap.js"></script>

<script>
$(document).ready(function() {
    $('#gladmindDesk').dataTable();
} );

</script>
{% endblock dependency %}