{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
    </div>
</div>
<div class="well">
    <div class="user-message">
        <div class="message"></div>
    </div>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                </div>
            </div>
            <div class="col-md-9">
                <form class="query-form" role="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>ASC Name*:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>PWD*:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Retype PWD*:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>ASC Mobile Number*:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>PinCode:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Address:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 form-group">
                            <button type="submit" class="btn btn-primary pull-right" id="submit-asc">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block dependency %}
<script src="/static/js/gladminds/main.js"></script>
{% endblock dependency %}