{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools %}
    <div class="span6">
            <form action="{% url 'upload_transit_stock' %}" method="POST" enctype="multipart/form-data" >
            <table width>
                    <tr>
                        <td>
                            <input type="file" name="upload_transit_stock" required="true">

                        <button type="button" class="btn btn-default" onclick="javascript:downloadSampleTransitStockCsv();">
                        Download Sample CSV
                        </button>

                                </td>

                        <td>
                                <input class="btn btn-info" id="uploadExcel" type="submit" value="Upload Transit Stock">
                        </td>
                    </tr>	
            </table>
        </form>
    </div>

    <script type="text/javascript">
        function downloadSampleTransitStockCsv(){
            url = "{% url 'download_sample_transit_stock_csv' %}"
            location.href= url;
        }
    </script>

{% endblock %}