#myPanel{
	background-color: #f3f3f3;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	text-shadow: none !important;
}


.navbar {
	margin-bottom: 0 !important;
}

.footerMenu{
    background-color: #007b4d !important;
    bottom: 0;
    color: white !important;
    height: 60px;
    left: 0;
    padding: 7px 0;
    /*position: fixed !important;*/
    text-align: center;
    width: 100%;
  	z-index: 1000;
}

.footerMenu .ui-btn, .footerMenu .ui-btn:visited{
	background-color: transparent !important;
	border-color: transparent !important;
	text-shadow:none;
}

.footerMenu .ui-btn:hover{
	text-shadow:none;
	color:#eee;
}

.footerMenu a{
	color:white !important;
	background: none;
	box-shadow: none!important;
}

.footerMenu a.ui-btn-active{
	color:#000 !important;
	text-shadow:0 0 0 #059 !important;
}

.table-responsive {
    overflow-x: hidden !important;
}

.ui-listview>.ui-li-divider {
	font-size: 18px !important;
    font-weight: 900 !important;
}
.ui-btn {
    font-size: 14px !important;
}

.active { 
    background-color: #007b4d !important;
    color:white !important;
    text-shadow: none !important;
}

.table thead tr th{
	vertical-align: middle !important; 
  text-align: center !important;
      background-color: #007b4d !important;
}

.table tbody tr td{
	vertical-align: middle !important; 
  text-align: center !important;
}

.btn-success:hover {
   
    background-color: #007b4d !important;
    
}

select option
{
	color: black !important;
}

@media (max-width: 800px) {

	.footerMenu a{
		font-size:0.85em;
	}
}