{% extends "base_template.html" %}

{% block body %}
<div class="well">
    <div class="user-message">
        <div class="message"></div>
    </div>
    <div id="wrapper">
        <div class="row">
            {% if not asc_registration %}
            <div class="col-md-3 .col-md-offset-1">
                {% include "portal/base_portal.html" %}
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="row portal-form-heading">
                    <div class="col-md-10">
                        <h3 class="text-center"> ASC Registration </h3>
                    </div>
                </div>
                    {% if not asc_registration %}
                    <form class="asc-form row" role="form">{% csrf_token %}
                    <div class="col-md-offset-2"> 
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Dealer ID:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input readonly type="text" class="form-control" name="dealer_id" value="{{ user_id }}" required autofocus/>
                        </div>
                    </div>
                  {% else %}
                  <form class="asc-self-form" role="form">{% csrf_token %}
                  <div class="col-md-offset-2"> 
                 {% endif %}
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">ASC Name*:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="name" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Password*:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="password" class="form-control" name="password" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group no-wrapping">
                            <label  class="control-label">Retype Password*:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="password" class="form-control" name="re-password" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group no-wrapping">
                            <label class="control-label">ASC Mobile Number*:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="phone-number" required maxlength="10" placeholder="10 digits"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Email:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="email" class="form-control" name="email"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">PinCode:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="pincode"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Address:</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="address"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <button type="submit" value="Submit" class="btn btn-primary pull-right asc-submit">
                                Submit
                            </button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "portal/modal.html" %}
{% include "portal/waiting_modal.html" %}
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}