{% extends "base_template.html" %}

{% block style %}
<link href="/static/css/portal.css" rel="stylesheet">
{% endblock %}

{% block body %}
     
	<h3 class="text-center"> DFSC Daily Progress Tracker </h3>
	<div class="container">
	   <div class="col-md-3 home-button-style">
  		     <a class="btn btn-primary anchor-style"  href="/">
  		          Home
  		     </a>
	   </div>
	   pppppppppppppppppp
		<div class="col-md-9">
			<div class="row">
              <div class="col-md-3 form-group">
                <label class="control-label">Month</label>
                <select class="form-control" name="month" id="month" required>
                    	<option value="">Select Month </option>
                      	{% for month in month %}
                     		 <option {% if month == mon %}  selected {% endif %} value="{{month}}">{{month}}</option>
                      	{% endfor %}
                </select>
               </div>
                <div class="col-md-3 form-group">
                   <label class="control-label">Year</label>
                   <select class="form-control" name="year" id="year" required>
                    	<option value="">Select Year</option>
                      	{% for year in years %}
                     		 <option {% if year == cyear %} selected {% endif %} value="{{year}}">{{year}}</option>
                      	{% endfor %}
                    </select>
                 </div>
               <div class="col-md-6 form-group">  
                 <button onclick = "getDataByDate()" class="btn btn-primary" style="margin-top:24px;">
                 Submit
	            </button>
              </div>
            </div>
		</div>
		{% if not data %}
		<h4 class='text-center'>
			Sorry, No Data Available.
		</h4>
	  {% elif data.length != 0 %}
		 <div class="table-responsive">
		   <table  class="table table-striped table-bordered text-center ascReport" >
             <thead>
				 <tr>
				   {% if role = 'asc' %}
				      <th class="text-center">ASC Id</th>
				    {% else %} 
				       <th class="text-center">Dealer Id</th>
				    {% endif %}
				    <th class="text-center">Name</th>
					<th><div class="asc-report-address-style text-center">Address</div></th>
				    {% for date in range %}	
					  <th class="text-center" id="#{{date}}"><div class="asc-report-th-style">{{date}} {{mon}}</div></th>
			        {% endfor %}
			          <th class="text-center" ><div class="asc-report-th-style">Total</div></th> 		
				 </tr>
			</thead>
        	<tbody>
				{% for coupons in data %}
				<tr class="asc-report-td-style"> 
				    <td>
					  {{coupons.id|default_if_none:""}}
					</td>
					<td>
					  {{coupons.name|default_if_none:""}}
					</td>
					<td class="text-left">{{coupons.address|default_if_none:""}}</td>
					{% for key,values in coupons.coupon_closed.items %}
					   <td>{{values|default_if_none:""}}</td> 
					{% endfor %}
					<td>
					   {{coupons.total_coupon_closed|default_if_none:""}}
					</td>
			    </tr>
				{% endfor %}
		  </tbody>
		  </table>
		 </div>
	  {% endif %}
	</div>

{% endblock %} 
{% block dependency%}
<script src="/static/js/portal/main.js"></script>
<script src="/static/js/table_data.js"></script>
<script src="/static/js/table_data_bootstrap.js"></script>

<script>
$(document).ready(function() {
	$('.password').hide();
	$(".logout").attr('href','/logout');
    $('.ascReport').dataTable();
} );
$(function() {
	$('.monthYearPicker').datepicker({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		dateFormat: 'MM yy'
	}).focus(function() {
		var thisCalendar = $(this);
		$('.ui-datepicker-calendar').detach();
		$('.ui-datepicker-close').click(function() {
var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
thisCalendar.datepicker('setDate', new Date(year, month, 1));
		});
	});
});
</script>
{% endblock dependency %}