<div>
	<div class="header">
		<img src="http://api.gladmindsplatform.co/static/img/bajaj_logo.jpg" class="brand-logo" height="50px" width="209px">
		<hr>
	</div>
	<div class="container" style="margin-left: 45px;">
		<div>
			<p>Dear {{content.name}} </p><br>
		</div>
		<div>
			Welcome to Bajaj’s new <span style="color: rgb(201, 117, 41);">Digitized Free Service Coupon (DFSC)</span> process
		</div>
		<div style="margin-top:10px;">
			Use the Link : <a href="http://api.gladmindsplatform.co/aftersell/asc/login/">http://api.gladmindsplatform.co/aftersell/asc/login/</a> and Login by
			using below Username and Password
		</div>
		<div>
			<h3 style="color:rgb(70, 70, 134);">Username: <span style="color: rgb(201, 117, 41);">{{content.username}}</span></h3> 
			<h3 style="color:rgb(70, 70, 134);">Password: <span style="color: rgb(201, 117, 41);">{{content.password}}</span></h3> 
		</div>
		<div style="color:red;">
			Do not share the password with anybody
		</div>
		<div class="footer" style="margin-top:30px;text-align:right;">
			<hr>
			<p style="margin-top:5px;">Powered by <span style="color: rgb(201, 117, 41);">GladMinds Connect Platform</span></p>	
		</div>
	</div>
</div>