<link href="/static/css/portal.css" rel="stylesheet">
<label>Registration</label>
<div class="list-group">
    {% if 'dealers' in groups %}<a tabindex="1" href="/aftersell/register/asc" class="list-group-item {% if active_menu == 'register_asc' %} active {% endif %}">ASC Registration</a>{% endif %}
    <a href="/aftersell/register/sa" class="list-group-item{% if active_menu == 'register_sa' %} active {% endif %}">Service Advisor Registration</a>
    <a href="/aftersell/register/customer" class="list-group-item{% if active_menu == 'register_customer' %} active {% endif %}">Customer Registration</a>
</div>

<label>Users</label>
<div class="list-group hidden">
    {% if 'ascs' in groups %}
    <a href="/aftersell/users/sa" class="list-group-item{% if active_menu == 'sa' %} active{% endif %}">Service Advisors</a>
    {% endif %}
    {% if 'dealers' in groups %}
    <a href="/aftersell/users/asc" class="list-group-item{% if active_menu == 'asc' %} active{% endif %}">ASC's</a>
    {% endif %}
</div>

<label>Exceptions</label>
<div class="list-group">
	<a href="/aftersell/exceptions/search" class="list-group-item{% if active_menu == 'search' %} active{% endif %}">Search Customer Details</a>
	<a href="/aftersell/exceptions/status" class="list-group-item{% if active_menu == 'status' %} active{% endif %}">Service Status</a>
	<a href="/aftersell/exceptions/check" class="list-group-item{% if active_menu == 'check' %} active{% endif %}">CHECK Free Service</a>
	<a href="/aftersell/exceptions/close" class="list-group-item{% if active_menu == 'close' %} active{% endif %}">CLOSE Free Service</a>
	<a href="/aftersell/exceptions/recover" class="list-group-item{% if active_menu == 'recover' %} active{% endif %}">UCN Recovery</a>
	<a target="_blank" href="http://support.gladminds.co/" class="list-group-item{% if active_menu == 'support' %} active{% endif %}">Contact Support</a>
</div>

<label>Reports</label>
<div class="list-group">
	<a target="_blank" href="/aftersell/reports/reconciliation" class="list-group-item{% if active_menu == 'report' %} active{% endif %}">Reconciliation Report</a>
</div>