<link href="/static/css/portal.css" rel="stylesheet">
<label>Registeration</label>
<div class="list-group">
    <a tabindex="1" href="/register/asc" class="list-group-item{% if active_menu == 'register_asc' %} active {% endif %}">ASC Registeration</a>
    <a href="/register/sa" class="list-group-item{% if active_menu == 'register_sa' %} active {% endif %}">Service Advisor Registeration</a>
    <a href="#" class="list-group-item">Customer Registeration</a>
</div>

<label>Users</label>
<div class="list-group">
    <a href="#" class="list-group-item">Service Advisors</a>
    <a href="#" class="list-group-item">ASC's Service Advisors</a>
</div>

<label>Exceptions</label>
<div class="list-group">
    <a href="/exceptions/customer" class="list-group-item{% if active_menu == 'customer' %} active {% endif %}">Search Customer ID</a>
    <a href="#" class="list-group-item">CLOSE Free Service</a>
    <a href="#" class="list-group-item">CHECK Free Service</a>
    <a href="#" class="list-group-item">UCN Recovery</a>

</div>
