{% extends "base_template.html" %}

{% block body %}
<div class="user-message"><div class="message"></div></div>
<div class="container">
	<div class="row">
		<h2 class='text-center'>Reset Password</h2><br><br>
		<form class="change-password-form" role="form">{% csrf_token %}
	        <div class="col-md-offset-2"> 
	            <div class="row">
	                <div class="col-md-offset-1 col-md-2 form-group">
	                    <label class="control-label">Current Password*:</label>
	                </div>
	                <div class="col-md-5 form-group">
	                    <input type="password" class="form-control" name="oldPassword" placeholder="Current Password" required autofocus/>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-offset-1 col-md-2 form-group">
	                    <label class="control-label">New Password*:</label>
	                </div>
	                <div class="col-md-5 form-group">
	                    <input type="password" class="form-control new-password" name="newPassword" placeholder="New Password" required maxlength="5" maxlength="10" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-offset-1 col-md-2 form-group">
	                    <label  class="control-label">Retype Password*:</label>
	                </div>
	                <div class="col-md-5 form-group">
	                    <input type="password" class="form-control retype-new-pass" placeholder="New Password" required minlength="5" maxlength="10" />
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-8 form-group">
	                    <button type="submit" value="Submit" class="btn btn-primary pull-right">
	                        Submit
	                    </button>
	                </div>
	            </div>
	        </div>
		</form>
	</div>
</div>
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}