{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
    </div>
</div>
<div class="well">
    <div class="user-message">
        <div class="message"></div>
    </div>
    <div id="wrapper">
        <div class="row">
          <div class="col-md-offset-8 col-md-2">
            <a class="logout" href="/{% if 'dealers' in groups %}dealer{% elif 'ascs' in groups%}asc{% endif %}/logout">Logout</a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 .col-md-offset-1">
                {% include "portal/base_portal.html" %}
            </div>
            <div class="col-md-8">
                          <div class="row portal-form-heading">
                  <div class="col-md-10">
                      <h3 class="text-center">Search by Vin#</h3>
                  </div>
              </div>
              <form class="vin-form" role="search">
                <div class="row">
                  <div class="col-md-2 form-group">
                    <label class="control-label">VIN#:</label>
                  </div>
                  <div class="col-md-6 input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-vin" id="srch-vin">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row portal-form-heading">
                <div class="col-md-10">
                  <h3 class="text-center">Customer Registration</h3>
                </div>
              </div>
             <form class="customer-form" role="form">
              <div class="row hide">
                <div class="col-md-4 form-group">
                    <label class="control-label">VIN:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" name='customer-vin' class="form-control customer-vin"/>
                </div>
              </div>
               <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">Customer Name:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" name='customer-name' class="form-control customer-name name-readonly"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">Customer Phone:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" name='customer-phone' class="form-control customer-phone"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">Product purchase Date:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" name='purchase-date' class="form-control purchase-date"/>
                </div>
                <p>Enter date in "dd/mm/yyyy" format</p>
              </div>
              <div class="row">
                  <div class="col-md-8 form-group">
                      <button type="submit" value="Submit" class="btn btn-primary pull-right customer-submit">
                          Submit
                      </button>
                  </div>
              </div>             
             </form>
            </div>
        </div>
    </div>
</div>
{% include "portal/modal.html" %}
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}