{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
    </div>
</div>
<div class="well">
    <div class="user-message">
        <div class="message"></div>
    </div>
    <div id="wrapper">
        {% if active_menu == 'customer' %}
        <div class="row">
            <div class="col-md-3 .col-md-offset-1">
                {% include "portal/base_portal.html" %}
            </div>
            <div class="col-md-8">
              <div class="row portal-form-heading">
                  <div class="col-md-10">
                      <h3 class="text-center">Search by Vin#</h3>
                  </div>
              </div>
              <form class="vin-form" role="search">
                <div class="row">
                  <div class="col-md-2 form-group">
                    <label class="control-label">VIN#:</label>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-vin" id="srch-vin">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row portal-form-heading">
                <div class="col-md-10">
                  <h3 class="text-center">Customer Details</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">Customer Phone:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control customer-phone"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label">Customer Id:</label>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control customer-id"/>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}