{% extends "base.html" %}

{% block body %}
<label><h2>Gladminds</h2></label>
<form role="form" action="/users/otp/generate" method="post" >
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="10 Digit Mobile Number...">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <button type="submit" class="btn btn-primary">
                Generate OTP
            </button>
            <button class="btn btn-primary otp-submit">
                Enter OTP
            </button>
        </div>
    </div>
</form>
{% endblock %}