{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
    </div>
</div>
<h3 class="text-center">Reconciliation Report</h3>
<div class="container">
	<div class="reconciliation-report">
	    <div class="user-message">
	        <div class="message"></div>
	    </div>
		<form class="form-horizontal" role="form" action="/aftersell/exceptions/report" method="post">
			<div class="row">
			  	<div class="form-group col-md-3">
			    	<label class="col-md-2 control-label">From</label>
			    	<div class="col-md-10">
			      		<input type="text" value="{{params.start_date}}" min="{{params.min_date}}" 
			      			max="{{params.max_date}}" class="form-control filter-start-date" placeholder="yyyy-mm-dd" 
			      			name="from" required />
			    	</div>
			  	</div>
			  	<div class="form-group col-md-3">
			    	<label class="col-md-2 control-label">To</label>
			    	<div class="col-md-10">
			      		<input type="text" value="{{params.to_date}}" min="{{params.min_date}}" 
			      			max="{{params.max_date}}" class="form-control filter-end-date" placeholder="yyyy-mm-dd" 
			      			name="to" required />
			    	</div>
			  	</div>
			  	<div class="form-group col-md-3">
			    	<label class="col-md-4 control-label">Status</label>
			    	<div class="col-md-8">
			      		<select placeholder="Choose Status" name="status" class="form-control chosen-select">
							<option value=""> ...... </option>
							{% for key,val in status_options.items %}
								<option {% if params.status == key  %} selected {% endif %} 
								value="{{key}}">{{val}}</option>
							{% endfor %}
						</select>
			    	</div>
			  	</div>
			  	<div class="form-group col-md-3">
				    <div class="col-md-10">
				      <button type="submit" class="btn btn-default">Submit</button>
				    </div>
				</div>
			</div>  
		</form>
	</div>
	<div>
		{% if records %}
			<p><b>{{records|length}}</b> results found.</p>
		{% endif %}
		<table class="table table-bordered table-hover report-table">
			<thead>
				<th>Customer ID</th>
				<th>Product Type</th>
				<th>VIN</th>
				<th>UCN</th>
				<th>Service Availed Date</th>
				<th>Closed Date</th>
				<th>SA Mobile</th>
				<th>Actual KMS</th>
				<th>Service Type</th>
				<th>Status</th>
				<th>Special Case</th>
			</thead>
			<tbody>
			{% for record in records %}
				<td>{{record.customer_id}}</td>
				<td>{{record.product_type}}</td>
				<td>{{record.vin}}</td>
				<td>
					{% if record.service_status == "Closed" %}
						{{record.coupon_no}}
					{% endif%}
				</td>
				<td>{{record.service_avil_date}}</td>
				<td>
					{% if record.service_status == "Closed" %}
						{{record.closed_date}}
					{% else %}
						n/a 
					{% endif%}
				</td>
				<td>{{record.sa_phone_name}}</td>
				<td>{{record.kms}}</td>
				<td>{{record.service_type}}</td>
				<td>{{record.service_status}}</td>
				<td>{{record.special_case}}</td>
			</tbody>
			{% endfor %}
		</table>
		{% if not records %}
			<div class="text-center bg-info">
				{{message}}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
<script type="text/javascript">
	var minDate = "{{params.min_date}}",
		maxDate = "{{params.max_date}}";

	$('.filter-start-date, .filter-end-date').datepicker({
		dateFormat:'yy-mm-dd',
		minDate: minDate,
		maxDate: maxDate
	});
</script>
{% endblock dependency %}