{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
    </div>
</div>
<div class="well">
    <div class="user-message">
        <div class="message"></div>
    </div>
    <div id="wrapper">
        <div class="row">
          <div class="col-md-offset-8 col-md-2">
            <a class="logout" href="/aftersell/provider/logout">Logout</a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 .col-md-offset-1">
                {% include "portal/base_portal.html" %}
            </div>
            <div class="col-md-8">
                <div class="row portal-form-heading">
                    <div class="col-md-10">
                        <h3 class="text-center">Service Advisor Registration</h3>
                    </div>
                </div>
                <form class="sa-form" role="form">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Service Advisor Name*:</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control" name="name" required autofocus/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">Service Advisor Mobile#*:</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control" name="phone-number" required maxlength="10" placeholder="10 digits"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label  class="control-label">Activity Status*:</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <select class="form-control" name="status" required>
                              <option value="">Select status</option>
                              <option value="Y">Y</option>
                              <option value="N">N</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 form-group">
                            <button type="submit" value="Submit" class="btn btn-primary pull-right asc-submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "portal/modal.html" %}
{% include "portal/waiting_modal.html" %}
{% endblock %}

{% block dependency %}
<script src="/static/js/portal/utils.js"></script>
<script src="/static/js/portal/main.js"></script>
{% endblock dependency %}