body {
	margin: 0;
}

.navbar-style {
    margin-bottom: 0;
}

li {
	list-style: none;
}

.portal-form-label{
    padding-top: 15px;   
}

.portal-form-heading{
    margin-bottom: 3%;
}

.dealer-logout {
  float: right;
}

.user-message {
  right: 0;
  left: 0;
  text-align: center;
  position: absolute;
}

.user-message .message {
  max-width: 250px;
  background: #ddd;
  border-radius: 10px;
  margin: 0 auto;
  display: none;
}

.query-form {
  	margin-top: 10px;
}

.no-wrapping{
  	white-space: nowrap;
}
.bg-info {
	background-color: #d9edf7;
	font-size: 17px;
}

.reconciliation-report {
	background-color: #F3F3F3;
	margin-bottom: 20px;
	padding: 15px 0px 0px 61px;
}

.gladdesk-message {
	padding-left:0px;
	padding-top:0px;
	
}

.report-table th {
	text-align: center;
}

.ellips {
  width: 150px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

#gladmindDesk_filter .input-sm { 
	margin-left:5px; !important
}

textarea {
  resize: none;
}

.style-username {
    margin-top:15px;
}
