{% extends "base_template.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#"><img src="/static/img/bajaj_logo.jpg" height=50px width=209px></a>
  </div>
</div>
<div class="well">
  <div class="user-message"><div class="message"></div></div>
  <div id="wrapper">
    <div class="row">
      <div class="col-md-12 col-md-offset-8">
        <a href="/dealers/logout">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="query-form" role="form">{% csrf_token %}
          <div class="row">
            <div class="col-md-3 form-group">
              <label for="advisorMobile">Service Advisor Mobile Number</label>
            </div>
            <div class="col-md-3 form-group">
              <select class="form-control" name="advisorMobile" id="advisorMobile">
                {% for phone in phones %}
                <option>{{phone}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              <label for="customerId">Customer Id</label>
            </div>
            <div class="col-md-3 form-group">
              <input type="text" class="form-control" name="customerId" id="customerId" placeholder="Customer Id" required>
            </div>
          </div>
          <div class="row advisor-action-item" style="padding-top: 20px;">
            <div class="col-md-3 form-group">
              <input type="radio" name="action" value="validate" checked="checked" class="advisor-action checked" required>
              <label>CHECK UCN</label>
            </div>
            <div class="col-md-3 form-group">
              <input type="text" class="form-control" name="odoRead" id="odoRead" placeholder="Odometer Read" required>
            </div>
            <div class="col-md-3 form-group">
              <input type="text" class="form-control" name="serviceType" id="serviceType" placeholder="Service Type" required>
            </div>
          </div>
          <div class="row advisor-action-item">
            <div class="col-md-3 form-group">
              <input type="radio" name="action" value="terminate" class="advisor-action">
              <label>CLOSE UCN</label>
            </div>
            <div class="col-md-3 form-group">
              <input type="text" class="form-control" name="ucn" disabled="true" id="ucn" placeholder="UCN">
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 form-group">
              <button type="submit" class="btn btn-primary pull-right query-submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block dependency %}
<script src="/static/js/dealer/main.js"></script>
{% endblock dependency %}