<table align="center" style="border:2px solid #807c7b;font-family:Calibri;font-size:18px;width:600px;border-radius:5px">
  <tbody>
    <tr>
      <td>
        <table width="600" align="center" style="width:600px">
          <tbody>
            <tr>
              <td width="10">&nbsp;</td>
              <td valign="top"><img width="150" alt="GladMinds Logo" style="text-align:right" src="http://rkarthik.in/mobile/gm/incfiles/images/logo.png"></td>
              <td width="10">&nbsp;</td>
              <td width="430">
                <table align="left" style="font-size:18px;font-family:Calibri;color:#595959">
                  <tbody>
                    <tr>
                      <td color="#595959" style="font-weight:bold">Hello User!</td>
                    </tr>
                    <tr>
                      <td style="color:#595959;font-family:Calibri;font-weight:normal;font-size:11px;line-height:27px">
                        <table border="1" width="100%" cellspacing="2" cellpadding="4">
                          <tr>
                            <td width="30%" align="right">Click on the link to activate your email address:</td>
                            <td>{{ site }}{{base_url}}?activation_key={{activation_key}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="600" height="50" align="center" style="background-color:#97C853;color:#ffffff;font-family:Calibri;font-size:20px;text-align:center;width:600px;min-height:50px">
          <tbody>
            <tr>
              <td>&copy;{% now "Y" %}. GladMinds!</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>