<h5>Dear Dealer/ASC,</h5>                                                           
<h6>Happy to help ! Please reach out to us for support regarding DFSC module.</h6>    
<h6>Please note change in support phone number.</h6>                                                                 
<h6>Online Support. Initiate ticket from DFSC Contact us</h6>                         
<h6>Phone Support. Call us on 7847011011</h6>
<h6>Email Support. Mail us on hello@gladminds.co</h6>
<h6>Thank you !</h6>
<h6>Bajaj DFSC Support.</h6>
<h6>Regards,</h6>
<h6>Asha</h6>     
