Hello,<br/><br/>
Product details for recycle are as below:<br/>
<table border=1px style="width: 60%">
	<tbody>
		<tr>
			<th>Product Id</th>
			<th>Brand Name</th>
			<th>Consumer Id</th>
			<th>Consumer Name</th>
			<th>Purchase Date</th>
			<th>Brand Product Id</th>
			<th>Color</th>
			<th>Description</th>
		</tr>
		<tr>
			<td>{{id}}</td>
			<td>{{brand}}</td>
			<td>{{consumer_id}}</td>
			<td>{{consumer_name}}</td>
			<td>{{purchase_date}}</td>
			<td>{{brand_product_id}}</td>
			<td>{{color}}</td>
			<td>{{description}}</td>
		</tr>
	</tbody>
</table>
<br/><br/>
Thanks<br/>
