
{#{% load sitetree %}#}
{% load i18n suit_menu_custom %}
{% load url from future %}
{% load i18n admin_static %}

<div class="left-nav" id="left-nav">
  <ul>
    {% block menu_home %}
      {% url 'admin:index' as index_url %}
      <li{% if index_url == request.path %} class="active"{% endif %}>
        <a href="{{ index_url }}"><i class="icon-home"></i>{% trans 'Home' %}
        </a>
      </li>
    {% endblock %}
  </ul>
 <div class="module">
    <table class="table-overview applist" style="width:100%"
		   summary="{% blocktrans with name=app.name %}
		   Models available in the {{ name }} application.{% endblocktrans %}">
    {% for app in app_list %}
	  {% for model in app.models %}
	  
		{% if "Users" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Users' %}</a></td>
		</tr>
		{% endif %}
		{% if "Distributors" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Distributors' %}</a></td>
		</tr>
		{% endif %}
		{% if "Retailers" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Retailers' %}</a></td>
		</tr>
		{% endif %}
		{% if "Order Part" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Orders' %}</a></td>
		</tr>
		{% endif %}
		{% if "RetailerCollection" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Collection' %}</a></td>
		</tr>
		{% endif %}
		{% if "DSR Scorecard Report" in model.name %}
		<tr>
		  <td><a href="{{ model.admin_url }}" style="text-decoration: none" >{% trans 'Reports' %}</a></td>
		</tr>
		{% endif %}
	  {% endfor %}  
	{% endfor %}
	</table>
	</div>
  
</div>
