{% extends "admin/change_form.html" %}

{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}
{% block extrahead %}
{{block.super}}
<!-- <link href="/static/css/portal.css" rel="stylesheet"> -->
<!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<!-- <link rel="stylesheet" type="text/css" href="/static/suit/bootstrap/css/bootstrap.min.css" media="all"/> -->
<link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">

<!-- <script src="/static/suit/js/jquery-1.8.3.min.js"></script> -->
<script type="text/javascript">
	var Suit = {
		$ : $.noConflict()
	};
	if (!$)
		$ = Suit.$;
</script>

<script src="/static/js/jquery-1.9.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" media="all"/>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$("#orderForm").submit(function(e) {
		
		var delivery_stock=$("input[name='delivered_stock']");
		var datepick=$("input[name='datepick']");var flag=1;
		
		for(var i=0;i<delivery_stock.length;i++){
			
				
			if (   ((delivery_stock[i].val()!="")&&(datepick[i].val()==""))||((delivery_stock[i].val()=="")&&(datepick[i].val()!="")) ){
				flag=0;
				alert("Both the fields are mandatory.");
				return false;
			}
		
		}
		// if(flag==0){
			// alert("Error");
			// return false;
		// }
// 		
		
	    var url = "{% url 'save_order_temp_history' %}"; 
	    alert($("#orderForm").serialize());
	    $.ajax({
	           type: "POST",
	           url: url,
	           data: $("#orderForm").serialize(), // serializes the form's elements.
	           success: function(data)
	           {
	               alert(data); 
	               $("#myModal1").modal("show");
	               
	           }
	         });
	
	    e.preventDefault(); // avoid to execute the actual submit of the form.
	});
})
	
	
</script>

<!-- <script src="/static/suit/bootstrap/js/bootstrap.min.js"></script> -->

<!-- <script src="/static/js/jquery-1.9.1.js"></script> -->
<script src="/static/js/jquery-ui.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all"> -->
<link rel="stylesheet" href="/static/css/jquery-ui.css" />

<style>
	.table-data {
		position: absolute;
	}
</style>
<script>
	$(function() {

		$(".datepick").datepicker();
	}); 
</script>
<style>
	.text-center {
		text-align: center;
	}

</style>
{% endblock %}
{% block content %}

<form  method="POST" enctyype="multipart/form-data" id="orderForm">
	{% for each in order_display %}

	<h6>Order ID: {{each.order_id}}   Total Value: {{each.total_value}}</h6>

	<table class="table table-striped table-bordered table-responsive	" >
		<thead>
			<tr>

				<th class="text-center">PartNumber</th>
				<th class="text-center">Available Qty</th>
				<th class="text-center">Ordered Qty</th>
				<th class="text-center">MRP</th>
				<th class="text-center">Line Total</th>
				{% if each.order_status == "pending" %}
				<th class="text-center">Delivered Quantity</th>

				<th class="text-center">Delivery Qty</th>
				<th class="text-center">Shipped date</th>
				{% endif %}

			</tr>

		</thead>

		<tbody>
			<!-- {{each.order_status}} -->
			{% for each_part in each.parts %}

			{% if each_part.part.part_status == 1 %}
			<tr class="red">
				{% else %}
			<tr>
				{% endif %}
	<input type="hidden" id="order_id"  name="order_id" value='{{each.order_id}}' >
				{% if each.order_status == "shipped" or each.order_status == "pending" %}
				<td class="text-center"><a data-toggle="modal" data-target="#myModal" href="javascript:void(0)" onclick="loadOrderDetails('{% url 'ordered_part_details' each_part.part_number each.order_id %}','{{each_part.part_number}}','{{each_part.part_description}}')">{{each_part.part_number}}</a> {% if order_status == "pending"  %}
				<input type="hidden" value="{{each_part.part_number}}"  id="part_number"  name="part_number">
				{% endif %} </td>
				{% endif %}
				{% if each.order_status == "open" or each.order_status == "cancelled" %}
				<td class="text-center">{{each_part.part_number}}</td>

				{% endif %}
				<td class="text-center">{{each_part.available_quantity}}</td>
				<td class="text-center">
				<input type="hidden" id="ordered_quantity"  name="ordered_quantity" value='{{each_part.quantity}}' >
				{{each_part.quantity}}</td>

				<td class="text-center">{{each_part.mrp}}</td>
				<td class="text-center">{{each_part.line_total}}</td>
				{% if each.order_status == "pending" %}
				<td class="text-center">
				<input type="hidden" id="delivered_quantity"  name="delivered_quantity" value='{{each_part.delivered_quantity}}' >
				{{each_part.delivered_quantity}}</td>

				<td class="text-center">
				<input type ="text"   autocomplete="off" style="width:50px;text-align:center;" class="delivered-stock delivery_1" name="delivered_stock" />
		
					<input type="hidden" id="order_status" value='{{each.order_status}}' name="order_status"  >
				</td>

				<td class="text-center">
				<input type="text"  autocomplete="off" style="width:100px;text-align:center;" class="datepick datepick_1" name="delivered_date" />
				</td>
				{% endif %}
			</tr>

			{% endfor %}
		</tbody>

	</table>



	{% endfor %}

	<button type="submit" class="btn btn-primary" name="submit" id="_savesubmit">
		Generate Invoice
	</button>

</form>

<script>
	$(document).ready(function() {
		$('.chk-box').change(function(e) {
			if ($(this).is(":checked")) {
				$(e.target).parents('tr').find('input.delivered-stock').attr('disabled', false).focus();
				$(e.target).parents('tr').find('input.datepick').attr('disabled', false);
				$(e.target).parents('tr>td').append("<input type='hidden' name='part_number' class='hiddentxt' value='" + $(this).attr("rel") + "'>")
				// $(e.target).parents('tr>td').append("<input type='hidden' name='part_number_ids' class='hiddentxt' value='"+$(this).attr("rel")+"'>")
			} else {
				$(e.target).parents('tr').find('input.delivered-stock').attr('disabled', true);
				$(e.target).parents('tr').find('input.datepick').attr('disabled', true);
				$(e.target).parents('tr>td').find(".hiddentxt").remove();
			}
		});

	});

	function loadOrderDetails(url, partNum, partDesc) {

		$("#part_numberHead").html(partNum);
		$("#part_desc").html(partDesc)
		$("#loadParts").attr("src", url);
	}
</script>
<style>


</style>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          
          
          <iframe src="http://local.bajaj.gladminds.co:8002/admin/bajaj/orderpart/order_details/pending/4/"></iframe>
          
          
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>






<!-- Modal -->
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>

				<p class="modal-title">
					<strong>Order ID:</strong><span>{{original.id}}</span>
					<br/>
					<strong>Part Number:</strong><span id="part_numberHead"></span>
					<br/>
					<strong>Part Description:</strong><span id="part_desc"></span></span>
				</p>

			</div>
			<div class="modal-body">
				<iframe src="" width="100%" id="loadParts" height="380" name="part_details" frameborder="0" allowtransparency="true"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<style>
	tr.red td {
		background-color: #F5D0A9 !important;
	}
</style>
{% endblock content  %}

